
/*[ PADDING ]
///////////////////////////////////////////////////////////
*/
.p-t-80 {padding-top: 80px;}

.p-b-30 {padding-bottom: 30px;}

.p-b-37 {padding-bottom: 37px;}

.p-l-55 {padding-left: 55px;}

.p-r-55 {padding-right: 55px;}

/*[ MARGIN ]
///////////////////////////////////////////////////////////
*/

.m-b-25 {margin-bottom: 25px;}


