<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login LXSS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/static/login/vendor/bootstrap/css/bootstrap.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/static/login/fonts/iconic/css/material-design-iconic-font.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/static/login/vendor/animate/animate.css"> -->
<!--===============================================================================================-->	
	<!-- <link rel="stylesheet" type="text/css" href="/static/login/vendor/css-hamburgers/hamburgers.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/static/login/vendor/animsition/css/animsition.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/static/login/vendor/select2/select2.min.css"> -->
<!--===============================================================================================-->	
	<!-- <link rel="stylesheet" type="text/css" href="/static/login/vendor/daterangepicker/daterangepicker.css"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/login/css/main.css">
	<script type="text/javascript" src="/static/login/js/md5.min.js"></script>
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="container-login100" style="background-image: url('/static/login/images/bg-img.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" action="/auth/" method="post" onsubmit="return md5Form()">
				<span class="login100-form-title p-b-37">
					L`XSS
				</span>
				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" placeholder="password" id="pass">
					<input type='hidden' name='passwd' id='md5_pass'>
					<input type='hidden' id='pass_nonce' value={{ pass_nonce }}>
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Sign In
					</button>
				</div>
			</form>

			
		</div>
	</div>
	<script type="text/javascript">
		function md5Form () {
			var pass_nonce = document.getElementById('pass_nonce').value;
			var pass = document.getElementById('pass').value;
			var md5_pass = document.getElementById('md5_pass');
			tmp = md5(pass) + pass_nonce;
			console.log(tmp);
			var md5_passwd = md5(tmp);
			md5_pass.value = md5_passwd;
			return true
		}
	</script>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<!-- <script src="/static/login/vendor/jquery/jquery-3.2.1.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="/static/login/vendor/animsition/js/animsition.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="/static/login/vendor/bootstrap/js/popper.js"></script> -->
	<!-- <script src="/static/login/vendor/bootstrap/js/bootstrap.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="/static/login/vendor/select2/select2.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="/static/login/vendor/daterangepicker/moment.min.js"></script> -->
	<!-- <script src="/static/login/vendor/daterangepicker/daterangepicker.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="/static/login/vendor/countdowntime/countdowntime.js"></script> -->
<!--===============================================================================================-->

</body>
</html>